@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0; 
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;  
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  body {
    @apply text-black;
  }

  h1, h2, h3, h4, h5, h6, p, span, a, div, li, ul, ol, blockquote {
    @apply text-black;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dropdownDefaultButton {
  background-color: lightgray;
}